<div class="modal fade"
     tabindex="-1"
     role="dialog"
     bsModal
     [config]="{backdrop:'static', keyboard:false}"
     #modal="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        type="button"
                        [attr.aria-label]="'close'|translate"
                        [disabled]="disabled"
                        (click)="modal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-uppercase">
                    {{ 'add_event'|translate }}
                </h4>
            </div>
            <div class="modal-body">
                <alert *ngFor="let alert of alerts"
                       [type]="alert.type"
                       [dismissOnTimeout]="alert.timeout">
                    {{ alert?.msg }}
                </alert>
                <form class="form-horizontal"
                      id="form-profile-initialize"
                      role="form"
                      novalidate
                      autocomplete="off"
                      (submit)="actionSave($event, form)"
                      #form="ngForm">
                    <fieldset ngModelGroup="dateGroup" afterCurrentTime>
                        <div class="form-group"
                             [class.has-error]="(date.errors || time.errors || form.controls.dateGroup?.errors?.afterCurrentTime) && submit">
                            <label class="control-label col-sm-3">
                                {{ 'date'|translate }}: <strong class="text-danger">*</strong>
                            </label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <md-datepicker [(date)]="data.date" #datepicker>
                                            <div class="input-group">
                                                <input class="form-control control-inline"
                                                       name="date"
                                                       type="text"
                                                       date="'YYYY-MM-DD'"
                                                       required
                                                       placeholder="{{ 'date'|translate }}"
                                                       [disabled]="disabled"
                                                       (focus)="datepicker.show($event)"
                                                       [(ngModel)]="data.date"
                                                       #date="ngModel">
                                                <span class="input-group-btn control-inline">
                                        <button class="btn btn-default btn-outline control-inline"
                                                type="button"
                                                (click)="datepicker.toggle($event)">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                     </span>
                                            </div>
                                        </md-datepicker>
                                        <p class="text-danger" *ngIf="date.errors && submit">
                                            <small *ngIf="date.errors.required">
                                                {{ 'date_is_required'|translate }}
                                            </small>
                                            <small *ngIf="date.errors.date">
                                                {{ 'wrong_date_format'|translate }}
                                            </small>
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <md-timepicker [(date)]="data.time" #timepicker>
                                            <div class="input-group">
                                                <input class="form-control control-inline"
                                                       name="time"
                                                       type="text"
                                                       time
                                                       required
                                                       placeholder="{{ 'time'|translate }}"
                                                       [disabled]="disabled"
                                                       (focus)="timepicker.show($event)"
                                                       [(ngModel)]="data.time"
                                                       #time="ngModel">
                                                <span class="input-group-btn control-inline">
                                        <button class="btn btn-default btn-outline control-inline"
                                                type="button"
                                                (click)="timepicker.toggle($event)">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </button>
                                     </span>
                                            </div>
                                        </md-timepicker>
                                        <p class="text-danger" *ngIf="time.errors && submit">
                                            <small *ngIf="time.errors.required">
                                                {{ 'time_is_required'|translate }}
                                            </small>
                                            <small *ngIf="time.errors.time">
                                                {{ 'wrong_time_format'|translate }}
                                            </small>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="form.controls.dateGroup?.errors?.afterCurrentTime && submit">
                                    <div class="col-md-12">
                                        <small class="text-danger">
                                            {{ 'date_cannot_be_less_than_current'|translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group" [class.has-error]="title.errors && submit">
                        <label class="control-label col-sm-3">
                            {{ 'title'|translate }}: <strong class="text-danger">*</strong>
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   type="text"
                                   name="title"
                                   required
                                   placeholder="{{ 'title'|translate }}"
                                   [disabled]="disabled"
                                   [(ngModel)]="data.title"
                                   #title="ngModel">
                            <p class="text-danger" *ngIf="title.errors && submit">
                                <small *ngIf="title.errors.required">
                                    {{ 'title_is_required'|translate }}
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="description.errors && submit">
                        <label class="control-label col-sm-3">
                            {{ 'description'|translate }}: <strong class="text-danger">*</strong>
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control"
                                      type="text"
                                      name="description"
                                      required
                                      rows="12"
                                      placeholder="{{ 'description'|translate }}"
                                      [disabled]="disabled"
                                      [(ngModel)]="data.description"
                                      #description="ngModel"></textarea>
                                <p class="text-danger" *ngIf="description.errors && submit">
                                    <small *ngIf="description.errors.required">
                                        {{ 'description_is_required'|translate }}
                                    </small>
                                </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger"
                        type="button"
                        [disabled]="disabled"
                        (click)="modal.hide()">
                    {{ 'cancel'|translate }}
                </button>
                <button class="btn btn-primary"
                        form="form-profile-initialize"
                        type="submit"
                        [dataLoadingText]="'loading_'|translate"
                        [loading]="disabled"
                        [disabled]="disabled">
                    <span class="glyphicon glyphicon-ok"></span>
                    {{ 'save'|translate }}
                </button>
            </div>
        </div>
    </div>
</div>