<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="row login-border">
                <div class="col-md-12">
                    <form class="form-signin"
                          role="form"
                          novalidate
                          autocomplete="off"
                          (submit)="actionSignUp($event, form)"
                          #form="ngForm">
                        <h4 class="text-center text-uppercase md-margin-bottom-40">
                            {{ 'sign_up_to_get_instant_access'|translate }}
                        </h4>
                        <div class="text-center" *ngIf="done">
                            {{ 'you_have_been_successfully_registered'|translate }}<br>
                            {{ 'now_you_can'|translate }} <a [routerLink]="['/']">{{ 'login'|translate }}</a>.
                        </div>
                        <template [ngIf]="!done">
                            <alert *ngFor="let alert of alerts"
                                   [type]="alert.type"
                                   [dismissOnTimeout]="alert.timeout">
                                {{ alert?.msg }}
                            </alert>
                            <div class="form-group" [class.has-error]="email.errors && submit">
                                <div class="input-group">
                                    <input class="form-control"
                                           type="email"
                                           name="login"
                                           placeholder="{{ 'enter_email'|translate }}"
                                           required
                                           email
                                           autofocus
                                           [disabled]="disabled"
                                           [(ngModel)]="data.email"
                                           #email="ngModel">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <p class="text-danger" *ngIf="email.errors && submit">
                                    <small *ngIf="email.errors.required">
                                        {{ 'email_is_required'|translate }}
                                    </small>
                                    <small *ngIf="email.errors.email">
                                        {{ 'this_value_should_be_a_valid_email'|translate }}
                                    </small>
                                </p>
                            </div>

                            <fieldset ngModelGroup="passwordGroup" equalTo>
                                <div class="form-group" [class.has-error]="password.errors && submit">
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="password"
                                               name="password"
                                               placeholder="{{ 'password'|translate }}"
                                               required
                                               [disabled]="disabled"
                                               [(ngModel)]="data.password"
                                               #password="ngModel">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <p class="text-danger" *ngIf="password.errors && submit">
                                        <small *ngIf="password.errors.required">
                                            {{ 'password_is_required'|translate }}
                                        </small>
                                    </p>
                                </div>
                                <div class="form-group"
                                     [class.has-error]="(confirmPassword.errors || form.controls.passwordGroup?.errors?.equalTo) && submit">
                                    <div class="input-group">
                                        <input class="form-control"
                                               type="password"
                                               name="confirmPassword"
                                               placeholder="{{ 'retype_password'|translate }}"
                                               required
                                               [disabled]="disabled"
                                               [(ngModel)]="data.confirmPassword"
                                               #confirmPassword="ngModel">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <p class="text-danger"
                                       *ngIf="(confirmPassword.errors || form.controls.passwordGroup?.errors?.equalTo) && submit">
                                        <small *ngIf="confirmPassword.errors?.required">
                                            {{ 'password_is_required'|translate }}
                                        </small>
                                        <small *ngIf="form.controls.passwordGroup?.errors?.equalTo && data.confirmPassword">
                                            {{ 'this_confirm_password_should_be_the_same'|translate }}
                                        </small>
                                    </p>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="text-right">
                                    <a [routerLink]="['/']">{{ 'login_now'|translate }}</a>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase"
                                    type="submit"
                                    [dataLoadingText]="'loading_'|translate"
                                    [loading]="disabled"
                                    [disabled]="disabled">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                {{ 'create_account'|translate }}
                            </button>
                        </template>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>