@import "theme";

body {
  padding-top: 50px;
}

.nav-pills > li > a {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.label {
  border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
}

.alert {
  border-radius: 0;
}

.input-group-addon {
  border-radius: 0;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 200;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.form-signin {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .login-border {
    border: 1px solid #ccc;
    padding: 20px 20px 20px;
  }
}

.md-margin-top-10 {
  margin-top: 10px;
}

.md-margin-bottom-10 {
  margin-bottom: 10px;
}

.md-margin-bottom-40 {
  margin-bottom: 40px;
}