<select class="form-control"
        [disabled]="options.disabled"
        [(ngModel)]="options.limit"
        (change)="actionSetRange($event)">
    <option *ngFor="let item of ranges"
            [value]="item">
        {{item}}
    </option>
</select>
