<div class="table-responsive table-bar">
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th sorting
                *ngFor="let item of fields"
                [title]="item?.title"
                [name]="item?.name"
                [cls]="item?.cls"
                [width]="item?.width"
                [options]="options"
                (refresh)="actionRefresh($event)"></th>
        </tr>
        </thead>
        <ng-content></ng-content>
    </table>
</div>
<div class="row" *ngIf="options.count > displayCount">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <range [options]="options"
               [ranges]="ranges"
               (refresh)="actionRefresh($event)"></range>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
        <pagination class="pull-right"
                    [options]="options"
                    [displayRange]="true"
                    [displayPages]="displayPages"
                    (refresh)="actionRefresh($event)"></pagination>
    </div>
</div>