<div class="input-group">
    <input class="form-control"
           type="text"
           placeholder="Search"
           [disabled]="options.disabled"
           (keydown)="enter($event)"
           [(ngModel)]="options.searchText"
           #focus>
    <span class="input-group-btn">
        <button class="btn btn-default"
                type="button"
                [disabled]="options.disabled"
                (click)="actionSearch()">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>