<ul class="pagination" *ngIf="getPages().length > 1">
  <li [class.disabled]="!isNotFirstPage() || options.disabled">
    <a href="javascript:void(0)" (click)="toPreviousPage()">
      &laquo;
    </a>
  </li>
  <li *ngFor="let page of getPages()"
      [class.disabled]="options.disabled"
      [class.active]="isCurrentPage(page)">
    <a href="javascript:void(0)"
       *ngIf="!isRange(page)"
       [class.hidden-xs]="!isCurrentPage(page)"
       (click)="toPage(page)">{{page}}</a>
    <a class="hidden-xs" href="javascript:void(0)" *ngIf="isRange(page)">...</a>
  </li>
  <li [class.disabled]="!isNotLastPage() || options.disabled ">
    <a href="javascript:void(0)" (click)="toNextPage()">
      &raquo;
    </a>
  </li>
</ul>
