<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ 'toggle_navigation'|translate }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <strong class="navbar-brand text-uppercase">Sendpulse</strong>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:" (click)="actionLogout()">
                    <strong>{{ 'logout'|translate }}</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-10">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
