<div class="modal fade"
     tabindex="-1"
     role="dialog"
     bsModal
     [config]="{backdrop:'static', keyboard:false}"
     #confirmDialog="bs-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header text-uppercase" *ngIf="options.title">
                <button class="close"
                        type="button"
                        [disabled]="disabled"
                        [attr.aria-label]="close|translate"
                        (click)="actionCancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ options?.title|translate }}
            </div>
            <div class="modal-body">
                <template [ngIf]="!options.class">
                    {{ options.message|translate }}
                </template>
                <div *ngIf="options.class" [ngClass]="[options.class]">
                    {{ options.message|translate }}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        type="button"
                        *ngIf="options.btnCancel !== false"
                        [disabled]="disabled"
                        (click)="actionCancel()">
                    <span *ngIf="!options.btnCancel">{{ 'cancel'|translate }}</span>
                    <span *ngIf="options.btnCancel">{{ options?.btnCancel|translate }}</span>
                </button>
                <button class="btn btn-primary"
                        type="button"
                        *ngIf="options.btnOk !== false"
                        [disabled]="disabled"
                        (click)="actionConfirm()">
                    <span *ngIf="!options.btnOk && !disabled">{{ 'ok'|translate }}</span>
                    <span *ngIf="options.btnOk && !disabled">{{ options?.btnOk|translate }}</span>
                    <span *ngIf="disabled">{{ 'loading_'|translate }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
