<edit-event #edit></edit-event>
<md-confirm #confirm></md-confirm>
<div class="row md-margin-bottom-10">
    <div class="col-md-12 text-right">
        <button class="btn btn-primary text-uppercase" (click)="actionCreate()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'add_event'|translate }}
        </button>
    </div>
</div>
<div class="row md-margin-bottom-10">
    <div class="col-md-4 col-sm-6">
        <search [options]="options" (refresh)="getList($event)"></search>
    </div>
</div>
<div class="table-responsive">
    <dt-table [options]="options" [fields]="fields" (refresh)="getList($event)">
        <tr *ngIf="!init">
            <td class="text-center" colspan="10">
                {{ 'loading_'|translate }}
            </td>
        </tr>
        <tr *ngIf="init && !list.length">
            <td class="text-center" colspan="10">
                {{ 'data_not_found'|translate }}
            </td>
        </tr>
        <tr *ngFor="let item of list">
            <td>{{ item.date }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td class="text-center">
            <span class="label label-info" *ngIf="item.status == 1">
                {{ 'active'|translate }}
            </span>
                <span class="label label-success" *ngIf="item.status == 2">
                {{ 'complete'|translate }}
            </span>
            </td>
            <td class="text-right">
                <button class="btn btn-success btn-xs"
                        [disabled]="item.status == 2"
                        (click)="actionComplete(item)">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    {{ 'complete'|translate }}
                </button>
                <button class="btn btn-primary btn-xs" (click)="actionEdit(item)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{ 'edit'|translate }}
                </button>
                <button class="btn btn-danger btn-xs" (click)="actionDelete(item)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    {{ 'delete'|translate }}
                </button>
            </td>
        </tr>
    </dt-table>
</div>