<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="row login-border">
                <div class="col-md-12">
                    <form class="form-signin"
                          role="form"
                          novalidate
                          autocomplete="off"
                          (submit)="actionLogin($event, form)"
                          #form="ngForm">
                        <h4 class="text-center text-uppercase md-margin-bottom-40">
                            {{ 'sign_in'|translate }}
                        </h4>
                        <alert *ngFor="let alert of alerts"
                               [type]="alert.type"
                               [dismissOnTimeout]="alert.timeout">
                            {{ alert?.msg }}
                        </alert>
                        <div class="form-group" [class.has-error]="email.errors && submit">
                            <div class="input-group">
                                <input class="form-control"
                                       type="email"
                                       name="login"
                                       placeholder="{{ 'work_email_address'|translate }}"
                                       required
                                       autofocus
                                       [disabled]="disabled"
                                       [(ngModel)]="data.email"
                                       #email="ngModel">
                                <span class="input-group-addon">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="text-danger" *ngIf="email.errors && submit">
                                <small *ngIf="email.errors.required">
                                    {{ 'email_is_required'|translate }}
                                </small>
                                <small *ngIf="email.errors.email">
                                    {{ 'the_login_is_required'|translate }}
                                </small>
                            </p>
                        </div>
                        <div class="form-group" [class.has-error]="password.errors && submit">
                            <div class="input-group">
                                <input class="form-control"
                                       type="password"
                                       name="password"
                                       placeholder="{{ 'password'|translate }}"
                                       required
                                       [disabled]="disabled"
                                       [(ngModel)]="data.password"
                                       #password="ngModel">
                                <span class="input-group-addon">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="text-danger" *ngIf="password.errors && submit">
                                <small *ngIf="password.errors.required">
                                    {{ 'password_is_required'|translate }}
                                </small>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="text-right">
                                <a [routerLink]="['/sign-up']">{{ 'register_now'|translate }}</a>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block"
                                type="submit"
                                [dataLoadingText]="'loading_'|translate"
                                [loading]="disabled"
                                [disabled]="disabled">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            {{ 'login'|translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>