<span (click)="actionSorting()" *ngIf="name">
    <i class="fa fa-sort" *ngIf="isNotSorting()"></i>
    <i class="fa fa-sort-down" *ngIf="isSortingDesc()"></i>
    <i class="fa fa-sort-asc" *ngIf="isSortingAsc()"></i>
    {{ title|translate }}
</span>
<span *ngIf="!name">
    {{ title|translate }}
</span>
